@import "~bootstrap/scss/bootstrap";

.ms-header {
    background-color: #99031e;
}

.ms-color {
    color: #99031e;
}

.clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

footer {
    background-color: #99031e;
    padding: 1.25rem 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-track {
    background: #282828;
}

::-webkit-scrollbar-thumb {
    background-color: #99031e;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #8a031c;
}
