@import "~bootstrap/scss/bootstrap";

.ms-header {
    background-color: #99031e;
}

.ms-color {
    color: #99031e;
}

.ms-background {
    background-color: #99031e;
}

// per limitare testo a due righe (la descrizione nella index)
.clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-line-clamp: 2;
    line-clamp: 2;
}

footer {
    background-color: #99031e;
    padding: 1.25rem 0;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 0.875rem;
    height: 0.6rem;
}

::-webkit-scrollbar-track {
    background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(180deg, #b10e2f, #80021a);
    border-radius: 0.625rem;
    border: 0.1875rem solid #1e1e1e;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(180deg, #c31234, #99031e);
}
